<div class="container">
<br>
  <h1>Eat-Da-Burger!</h1>
<br>
  <div class="img">
    <img src="/img/burger.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <form class="input-form">
          <div class="form-group">
            <input class="form-control" type="text" id="burgerName" name="name"
              placeholder="What burger would you like to eat?">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Your Burgers:</h2>
        <ol>
          {{#each burgers}}
          {{#unless devoured }}
          {{> devour/devour-btn devoured=false }}
          {{/unless}}
          {{/each}}
        </ol>
      </div>
      <div class="col">
        <h2>Burgers you have vanquished:</h2>
        <ol>
          {{#each burgers}}
          {{#if devoured}}
          {{> devour/devour-btn devoured=true}}
          {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>


</div>