
<!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul id="depts">
                            <li><a href="/grocery/meat">Organic Fresh Meat</a></li>
                            <li><a href="/grocery/greens">Organic Fresh Fruit & Vegetables</a></li>
                            <li><a href="/grocery/dairy">Organic Butter & Eggs</a></li>                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">

                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+64 111 111 111</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Hero Section End -->

<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table id="item-list">
            <thead>
              <tr>
                <th class="shoping__product">Item Name</th>
                <th>Price ($)</th>
                <th>Unit</th>                
                <th>Quantity</th>
                <th>
                  Add to Cart
                </th>
              </tr>
            </thead>
            <tbody id="shopping-cart">
              {{#each items}} {{> templates/itemList}} {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
