<div class="container">
<br>
  <h1>Items</h1>
<br>

  <div class="container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Items:</h2>
        <table id="item-list">
          <tr>
  <th>Item Name </th>
  <th> Price </th>
  <th> Unit </th>
  <th>
    Add to Cart
  </th>
</tr>

          {{#each items}}
          {{> templates/itemList}}
          {{/each}}
        </table>
      </div>
    </div>
  </div>


</div>