<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shopping__cart__table">
          <table id="item-list">
            <thead>
              <tr>
                <th class="shopping__product">Item Name</th>
                <th>Price ($)</th>
                <th>Unit</th>                
                <th>Quantity</th>
                <th>
                  Add to Cart
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each items}} {{> templates/itemList}} {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
